<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PLANT AI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static//vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="api\template\style.css" rel="stylesheet">

</head>

<body>

  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a
            href="mailto:contact@example.com">infoplantai@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 987 654 3210</span></i>
      </div>

      <div class="cta d-none d-md-flex align-items-center">
        <a href="/AIEngine" class="scrollto">AI Engine</a>
      </div>
    </div>
  </section>


  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/">PlantAI</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a href="/AIEngine">AI Engine</a></li>
          <li><a class="nav-link scrollto " href="/shop">Shop</a></li>
          <li><a class="nav-link scrollto" href="/About">About</a></li>
          <li><a class="nav-link scrollto" href="/info">More Info</a></li>


          <li><a class="nav-link scrollto" href="/ContactUS">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>


  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Welcome to PlantAI</h1>
      <h2>A Smart and Quick Plants Disease Detecting System</h2>
      <div class="d-flex align-items-center">
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
        <a href="/AIEngine" class="btn-get-started scrollto">Try Now!</a>
      </div>
    </div>
  </section>

  <main id="main">

    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>Why to use PlantAI website?</h3>
              <p>
                PlantAI is an intelligent, tech-supported, self-evolving system that delivers farmers and agriculture
                industry with a better
                solution for integrating technology in daily operations which helps our partners to manage progress
                easily. Our partners are
                centered as to solve their problems in an easy and self-learning way building an eco-system of
                learning-and -sharing model for
                a farmer with the mentor. Development of business nature in every individual farmer to gain their
                benefits very magnificiently
                across its local setup.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-search-alt-2"></i>
                    <h4>IDENTIFY THE DISEASES</h4>
                    <p>Input image from gallery or Capture the image, so that app will detect the disease correctly &
                      classify it and will
                      give the detailed information about it.
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class='bx bx-clipboard'></i>
                    <h4>QUICK AND ADVANCED RESULTS</h4>
                    <p>App will identify the disease by processing it using CNN & Machine Learning. So Farmer's time
                      will not be wasted
                      by checking with their naked eyes and it will easy to take them proper decisions.
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>SUGGESTS FERTILIZERS</h4>
                    <p>Find remedies related to diseases and propose the solution on how to cure it so that it will make
                      them easy
                      to which fertilizer they should use And can produce a good & healthy crop.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 data-aos="fade-up">Plants Available</h2>
          <p data-aos="fade-up">Curently our AI Engine can Detect & Classify these PLants Diseases. More Plants will be
            Available in Future
            Updates.</p>
        </div>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_1.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_2.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_3.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_4.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_5.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_6.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_7.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_8.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_9.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_10.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide"><img src="/static/assets/img/clients/AvailPlant_11.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>


    <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative"
            data-aos="fade-right">

          </div>

          <div
            class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h4 data-aos="fade-up">About</h4>
            <h3 data-aos="fade-up">How to Use?</h3>
            <p data-aos="fade-up">Our Website offers clean, Minimal & Easy to Use User Interface which can detect and
              identify Plant Diseases
              using concepts of Machine Learning and Convolutional Nerual Networks.
              The following are Steps to follow to get expected results:
            </p>

            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class='bx bx-scan'></i></div>
              <h4 class="title"><a href="">Scan</a></h4>
              <p class="description">Scan your Plant Leaf (Diseased/Healthy) and capture image using a Digital camera or
                Mobile phone.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class='bx bx-upload'></i></div>
              <h4 class="title"><a href="">Upload</a></h4>
              <p class="description">Upload the captured image into our AI Engine and click on the Submit Button.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class='bx bx-clipboard'></i></div>
              <h4 class="title"><a href="">Result</a></h4>
              <p class="description">Once the uploaded image is processed our AI Engine will detect if the leaf is
                diseased or healthly, and
                if the leaf is diseased then it will deatailed infomation about the disease and also suggest suitable
                remidies to cure it.
              </p>
            </div>

          </div>
        </div>

      </div>
    </section>





    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>How Our Project Works?</h2>
          <p>In our proposed work, we aim to detect and classify the plant diseases using the concept of Convolutional
            Neural Networks
            (CNN). Convolutional Neural Networks is a class
            of artificial neural network that works on the concept of
            hidden layers and is most widely used to in image processing
            and recognition.
            The basic framework or flow of our project consists of 6
            steps, namely: Image Acquisition, Image Pre-processing,
            Image Segmentation, Feature Extraction, Classification and Result</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-8" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-camera'></i></div>
              <h4 class="title"><a href="">Image Acquisition</a></h4>
              <p class="description">This is the very first step that requires capturing an image with the help of a
                digital camera.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Image Pre-processing</a></h4>
              <p class="description">The images which are acquired cannot be directly fed into the CNN. Since, the
                computer does not
                understand anything other than binary numbers, the images also must be converted into machine
                understandable format.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Feature Extraction</a></h4>
              <p class="description">After the images are processed into proper format and divided into segments, the
                next very important
                step is feature extraction. This step in CNN is done by using activation function followed by
                max-pooling layers.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Max-Pooling Layers</a></h4>
              <p class="description">In CNN, usually every activation function layer is followed by
                a pooling layer. Pooling layers are used to reduce the
                dimensions of feature maps. They are 3 types of pooling
                average-pooling, max-pooling and global-pooling.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Classification</a></h4>
              <p class="description">After the layers of the CNN are decided, programs finds out closest match to the
                captured image. And if the program identifies plant disease it provides information about the disease.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Result</a></h4>
              <p class="description">On connecting the backend model to the frontend and
                deploying it on the server, the users can simply upload the
                pictures of the affected plant leaves and get the consultation
                for it at the click of a button.</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Contact</h2>

        </div>

        <div class="row justify-content-center">

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>BVIT, CBD Belapur, Navi Mumbai-400614</p>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>infoplant@gmail.com<br>contactai@yahoo.com</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 9123456780<br>+91 9876543210</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
          <div class="col-xl-9 col-lg-12 mt-4">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>

  </main>


  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>PlantAI</h3>
            <p>
              BVIT, CBD Belapur,<br>
              Navi Mumbai,<br>
              Maharashtra-400614 <br><br>
              <strong>Phone:</strong> +91 9123456780<br>
              <strong>Email:</strong> infoplantai@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/About">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/Info">More Info</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-lg-flex py-4">

      <div class="me-lg-auto text-center text-lg-start">
        <div class="copyright">
          &copy; Copyright <strong><span>PlantAI</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <script src="/static/assets/js/main.js"></script>

</body>

</html>